In [5]:
import pandas as pd

In [8]:
url='../data/train_sessions.csv'

catch-me-if-you-can-intruder-detection-through-webpage-session-tracking2.zip
sample_submission.csv
site_dic.pkl
test_sessions.csv
train.zip
train_sessions.csv

In [13]:
# Reading train_sessions.csv
url='../data/train_sessions.csv'
df=pd.read_csv(url, index_col='session_id')

# Reformating columns
# sites=[]
# for i in range(1,11):
#     sites.append('site'+str(i))

# for site in sites:
#     df[site]=df[site].astype('int')

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 253561 entries, 1 to 253561
Data columns (total 21 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   site1   253561 non-null  int64
 1   time1   253561 non-null  object
 2   site2   250098 non-null  float64
 3   time2   250098 non-null  object
 4   site3   246919 non-null  float64
 5   time3   246919 non-null  object
 6   site4   244321 non-null  float64
 7   time4   244321 non-null  object
 8   site5   241829 non-null  float64
 9   time5   241829 non-null  object
 10  site6   239495 non-null  float64
 11  time6   239495 non-null  object
 12  site7   237297 non-null  float64
 13  time7   237297 non-null  object
 14  site8   235224 non-null  float64
 15  time8   235224 non-null  object
 16  site9   233084 non-null  float64
 17  time9   233084 non-null  object
 18  site10  231052 non-null  float64
 19  time10  231052 non-null  object
 20  target  253561 non-null  int64
dtypes: float64(9), int64(2), object(10)
memory usage: 42.6+ MB

In [11]:
sites=[]
for i in range(1,11):
    sites.append('site'+str(i))
sites

['site1',
 'site2',
 'site3',
 'site4',
 'site5',
 'site6',
 'site7',
 'site8',
 'site9',
 'site10']